/* Container styling for the list of program benefits */

.offerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F4F5;
    margin: 0 auto;
    gap: 2.5rem;
    padding-top: 5%;
}

/* Large header above the benefits */
.offerH2{
    padding-left: 7%;
    font-size: clamp(28px, 8vw, 75px);
    font-weight: bolder;
    font-family: impact;
    
}

/* Unordered list that contains each benefit item */
.offerUl{
    padding-left: 5%;
    font-size: clamp(15px, 3vw, 25px);
    line-height: 1.5;
}

/* Responsive design */
.break::before {
    content: "\A"; 
    display: block;

  }

@media (max-width: 600px) {
    .offerContainer {
        flex-direction: column;
        align-items: center;
        gap: .1rem;
        padding: 8%; 

      }
    .break::before {
        content: "";
        display: inline;
    }  
}
